# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Databases
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
